.badge {
  display: inline-block;
  font: 500 1.4rem / 1.5 $headingFontFamily;
  background-color: $colorPrimary400;
  color: $white;
  letter-spacing: 0.15em;
  padding: 0.375em 0.875em;
  border-radius: 0.4rem;
  box-shadow: $blockShadow;

  @include media(">=xl") {
    font-size: 1.6rem;
  }

  &--nulled {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
}
