.hero {
  @include clearMarginY("&");
  @include media(">=lg") {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
  }
  @include media(">=xl") {
    gap: 6rem;
  }

  $this: &;

  &__col {
    margin: 0 0 3rem;

    @include media(">=lg") {
      margin: 0;
    }
  }

  &__title {
    margin: 0 0 1.2rem;

    @include media(">=xl") {
      margin: 0 0 1.8rem;
    }
  }

  &__description {
    margin: 0 0 2rem;
    line-height: 1.625;
    @include clearMarginY("&");

    @include media(">=xl") {
      margin: 0 0 3.6rem;
    }
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;

    @include media(">=xl") {
      gap: 2.3rem;
    }
  }

  &__btn {
    min-width: 12rem;

    @include media(">=xl") {
      min-width: 16rem;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    margin: 0 auto;

    @include media(">=xl") {
      margin: 5.4rem auto 0;
      max-width: 600px;
    }
  }
}
