.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding-top: 6rem;

  @include media(">=xl") {
    font-size: 1.6rem;
    padding-top: 16rem;
  }

  &__content {
    flex: 1 0 auto;
  }
}
